<%= form_with(model: event, class: "space-y-6") do |form| %>
  <% if event.errors.any? %>
    <div role="alert" class="alert alert-error mb-6">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div>
        <h3 class="font-bold">
          <%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:
        </h3>
        <div class="text-sm">
          <ul class="list-disc list-inside space-y-1">
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Basic Information</legend>
    
    <div class="form-control w-full">
      <%= form.label :title, class: "label" do %>
        <span class="label-text">Event Title</span>
        <span class="label-text-alt">Required</span>
      <% end %>
      <%= form.text_field :title, class: "input input-bordered w-full", placeholder: "Enter event title" %>
    </div>

    <div class="form-control w-full mt-4">
      <%= form.label :location, class: "label" do %>
        <span class="label-text">Location</span>
        <span class="label-text-alt">Optional</span>
      <% end %>
      <%= form.text_field :location, class: "input input-bordered w-full", placeholder: "Enter event location" %>
    </div>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Date & Time</legend>
    
    <div class="form-control w-full">
      <%= form.label :date, class: "label" do %>
        <span class="label-text">Event Date & Time</span>
        <span class="label-text-alt">MM/DD/YYYY HH:MM AM/PM</span>
      <% end %>
      <div class="relative">
        <%= form.text_field :date, 
            value: (@event.date ? @event.date.strftime("%m/%d/%Y %I:%M %p") : ""),
            id: "datepicker-#{form.object_name}",
            datepicker: true,
            datepicker_format: "mm/dd/yyyy",
            datepicker_buttons: true,
            datepicker_autoselect_today: true,
            class: "input input-bordered w-full pl-10",
            placeholder: "Select date and time" %>
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </div>
      </div>
      <div class="mt-3">
        <label class="label">
          <span class="label-text">Event Time</span>
        </label>
        <div class="grid grid-cols-3 gap-2">
          <div class="form-control">
            <label class="label py-0">
              <span class="label-text text-xs">Hour</span>
            </label>
            <%= form.select :hour, 
                options_for_select((1..12).map { |h| [h.to_s.rjust(2, '0'), h] }, 
                (@event.date ? @event.date.strftime("%I").to_i : 12)),
                { prompt: "--" },
                { class: "select select-bordered select-sm w-full" } %>
          </div>
          <div class="form-control">
            <label class="label py-0">
              <span class="label-text text-xs">Minute</span>
            </label>
            <%= form.select :minute, 
                options_for_select((0..59).step(15).map { |m| [m.to_s.rjust(2, '0'), m] }, 
                (@event.date ? (@event.date.min / 15) * 15 : 0)),
                { prompt: "--" },
                { class: "select select-bordered select-sm w-full" } %>
          </div>
          <div class="form-control">
            <label class="label py-0">
              <span class="label-text text-xs">AM/PM</span>
            </label>
            <%= form.select :ampm, 
                options_for_select([['AM', 'AM'], ['PM', 'PM']], 
                (@event.date ? @event.date.strftime("%p") : 'PM')),
                { prompt: "--" },
                { class: "select select-bordered select-sm w-full" } %>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Event Details</legend>
    
    <div class="form-control w-full">
      <%= form.label :description, class: "label" do %>
        <span class="label-text">Event Description</span>
        <span class="label-text-alt">Tell us about the event</span>
      <% end %>
      <%= form.text_area :description, 
          rows: 4, 
          class: "textarea textarea-bordered h-24", 
          placeholder: "Enter event details, special instructions, or other relevant information" %>
    </div>
  </fieldset>

  <div class="flex justify-end mt-8 space-x-3">
    <%= link_to "Cancel", events_path, class: "btn btn-ghost" %>
    <button type="submit" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      Save Event
    </button>
  </div>
<% end %>
